@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --grey: #595959;
    --light-grey: #7d7d7d;
  }
  

body {
    background-color: #E4DCCF;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

header, footer {
    display: flex;  
    position: fixed;  
    left: 0;  
    right: 0;  
    align-items: center;  
}

#title{
    position: absolute;
    margin: 0 auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Luckiest Guy', cursive;
    font-size: 6vh;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #576F72; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 23% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #576F72; }
  }

#login{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:0.5em 1.2em;
    margin:0 0.1em 0.1em 0;
    width: 50vh;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    background-color: #7D9D9C;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 700;
    color:#FFFFFF;
    font-size: 1em;
}


#login:hover{
    border-color: rgba(255,255,255,1);
}

#email{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:0.5em 1.2em;
    margin:0 0.1em 0.1em 0;
    width: 50vh;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    background-color: #F0EBE3;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 700;
    color:var(--grey);
    font-size: 1em;
}

#email::placeholder{
    color: var(--light-grey);
}



#password{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:0.5em 1.2em;
    margin:0 0.1em 0.1em 0;
    width: 50vh;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    background-color: #F0EBE3;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 700;
    color:var(--grey);
    font-size: 1em;
}

#password::placeholder{
    color: var(--light-grey);
  }

#lockimage {
    margin-top: 80vh;
    opacity: 20%;
}

.alert{
    background-color: #f78783;
    font-family: 'Abhaya Libre', sans-serif;
    color: #FFFFFF;
}