@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Luckiest+Guy&display=swap');

body {
    color: black;
    font-family: 'Comfortaa', cursive;;
    margin-left: 10em;
    margin-right: 10em;
}

th, td {
    border: 1px solid black;
    overflow-wrap: anywhere;
}

textarea {
    width: -webkit-fill-available;
    border-radius: 8px;
    padding: 4px;
    font-family: 'Comfortaa', cursive;;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #7D9D9C;
    font-family: 'Comfortaa', cursive;;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7D9D9C;
    font-family: 'Comfortaa', cursive;;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}

.privacy-toggle {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    font-family: 'Comfortaa', cursive;;
}

.std-margin {
    margin: 0 8px;
}

.header-with-button {
    display: flex;
    justify-content: space-between;
    font-family: 'Luckiest Guy', cursive;
}

.button {
    padding: 0.5em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border-radius: 2em;
    background-color: #7D9D9C;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'Comfortaa', cursive;;
    border: solid;
}

.hidden {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 4px;
}

.grid-item {
    margin: 4px;
}

.no-margin {
    margin: 0;
}

.textClass{
    font-family: 'Comfortaa', cursive;;
}