body {
    color: black;
}

th,
td {
    border: 1px solid black;
    overflow-wrap: anywhere;
}

textarea {
    width: -webkit-fill-available;
    border-radius: 8px;
    padding: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #7D9D9C;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7D9D9C;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}

.privacy-toggle {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}

.std-margin {
    margin: 0 8px;
}

.header-with-button {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 0.5em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border-radius: 2em;
    background-color: #7D9D9C;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1em;
    border: solid;
}

.hidden {
    display: none;
}