@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Luckiest+Guy&display=swap');

:root {
  --grey: #595959;
  --light-grey: #7d7d7d;
}

body {
    background-color: #E4DCCF;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

header, footer {
    display: flex;  
    position: fixed;  
    left: 0;  
    right: 0;  
    align-items: center;  
}

/* h1{
	position: absolute;
	margin: 0 auto;	
	top:2%;
	color: var(--grey);
	font-family: 'Abhaya Libre', sans-serif;
    font-weight: 700;
    font-size: 1em;
} */

section{
	position: fixed;
	display: flex;	
	top:18%;
	width: 40%;
	height: 60%;
	justify-content: center;
    align-items: center;
}

#title{
    position: absolute;
    margin: 0 auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Luckiest Guy', cursive;
    font-size: 6vh;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #576F72; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}

#slogan {
    position: absolute;
    top: 48%;
    font-family: 'Luckiest Guy';
    left: 45%;
    padding-bottom: 5vh;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 23% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #576F72; }
  }


#signup-btn{
    position: absolute;
    font-weight:300;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#FFFFFF;
    padding:0.5em 1.2em;
    margin:0 0.1em 0.1em 0;
    width: 50vh;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    background-color: #7D9D9C;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 1em;
}

#signup-btn:hover{
    border-color: rgba(255,255,255,1);
}

#back-btn{
  position: absolute;
  font-weight:300;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#FFFFFF;
  padding:0.5em 1.2em;
  margin:0 0.1em 0.1em 0;
  width: 50vh;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  background-color: #5F7161;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 1em;
}

#back-btn:hover{
  border-color: rgba(255,255,255,1);
}

#email{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:0.5em 1.2em;
    margin:0 0.1em 0.1em 0;
    width: 50vh;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    background-color: #F0EBE3;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 700;
    color:var(--grey);
    font-size: 1em;
}


#email::placeholder{
    color: var(--light-grey);
}


#username{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:0.5em 1.2em;
    margin:0 0.1em 0.1em 0;
    width: 50vh;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    background-color: #F0EBE3;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 700;
    color:var(--grey);
    font-size: 1em;
}

#username::placeholder{
  color: var(--light-grey);
}

#password{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:0.5em 1.2em;
    margin:0 0.1em 0.1em 0;
    width: 50vh;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    background-color: #F0EBE3;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 700;
    color:var(--grey);
    font-size: 1em;
}

#password::placeholder{
  color: var(--light-grey);
}

meter {
    position: absolute;
	visibility: hidden;
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    margin: 0 auto 1em;
    width: 20vh;
    height: 0.5em;

    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }

  meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }

    /* Webkit based browsers */
    meter[value="1"]{ background-color: red; }
    meter[value="2"]{ background-color: yellow; }
    meter[value="3"]{ background-color: orange; }
    meter[value="4"]{ background-color: green; }

    /* Gecko based browsers */
    meter[value="1"]::-moz-meter-bar { background: red; }
    meter[value="2"]::-moz-meter-bar { background: yellow; }
    meter[value="3"]::-moz-meter-bar { background: orange; }
    meter[value="4"]::-moz-meter-bar { background: green; }

  #password-strength-text{
	visibility: hidden;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 700;
	font-size: 90%;
    color:var(--grey);
  }

#lockimage {
    margin-top: 80vh;
    opacity: 20%;
}

.alert{
    background-color: #f78783;
    font-family: 'Abhaya Libre', sans-serif;
    color: #FFFFFF;
}