<!DOCTYPE html>
<html>

<head>
    <title>Secret Vault</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/publicSecrets.css" />
    <link rel="stylesheet" href="../static/css/mySecrets.css" />
    <script src="../static/js/index.js"></script>
    <script src="../static/js/my-secrets.js" type="module"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <header class="header-with-button">
        <h1> My Secrets </h1>

        <input class="button" type="button" value="Add New Secret" id="add">
    </header>
    <hr>
</head>

<body>
    <section class="secrets hidden" id="new-secrets-section">
        <header>
            <h1> Add New Secret </h1>
        </header>
        <hr>

        <form action="/mySecrets">
            <label for="secret">Secret:</label><br>
            <textarea id="new-secret-content" name="secret"
                placeholder="Enter your new secret here. We promise to keep it safe for you." rows="4"></textarea><br>
            <section class="privacy-toggle">
                <label class="switch">
                    <input type="checkbox" checked id="new-secret-privacy">
                    <span class="slider round"></span>
                </label>
                <label class="std-margin">Private</label>
            </section>
            <input id="submit" type="button" class="button" value="Add">
            <input type="button" class="button" value="Cancel" id="cancel">
        </form>
    </section>
    <main>
        <section id="my-secrets" class="grid">
            <article id="secrets-error" class="secrets grid-item hidden error">
            </article>
        </section>
    </main>
    <script src="../static/js/cookiebundle.js"></script>
    <script src="../static/js/usernameBundle.js"></script>
</body>

</html>