<!DOCTYPE html>
<html>

    <head>
        <title>Secret Vault</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/css/publicSecrets.css" />
        <link rel="stylesheet" href="../static/css/mySecrets.css" />
        <script src="../static/js/index.js"></script>
        <script src="../static/js/my-secrets.js" type="module"></script>
    <header>

    </header>

    <body>
        <main>
            <header>
                <h1> My Secrets </h1>
            </header>
            <hr>

            <table style="width:100%;">
                <thead>
                    <tr>
                        <th>Secret</th>
                        <th style="min-width:30%;">Access</th>
                    </tr>
                </thead>
                <tbody id="secrets-body">
                </tbody>
            </table>

            <input type="button" value="Add New Secret" onclick="openPage('/newSecret')">
        </main>
    </body>
</html>