<!DOCTYPE html>
<html>

    <head>
        <title>Secret Vault</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/css/publicSecrets.css" />
        <link rel="stylesheet" href="../static/css/mySecrets.css" />
    <header>

    </header>

    <body>
        <main>
            <header>
                <h1> My Secrets </h1>
            </header>
            <hr>

            <table style="width:100%;">
                <thead>
                    <tr>
                        <th style="width:50%;">Secret</th>
                        <th style="width:30%;">Access</th>
                        <th style="width:20%;">Secret Bearers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>secret stuff. do not try to decipher</td>
                        <td>
                            <label for="private"><input type="radio" id="private" name="access" value="Private"> Private</label>
                            <input type="radio" id="partial" name="access" value="Partial">
                            <label for="partial">Partial</label>
                            <input type="radio" id="public" name="access" value="Public">
                            <label for="public">Public</label>
                        </td>
                        <td>
                            <select style="width: 100%" name="secret_bearers" id="secret_bearers" multiple>
                                <option value="Anel">Anel</option>
                                <option value="Mika">Mika</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Aaron">Aaron</option>
                                <option value="Luan">Luan</option>
                                <option value="Naddi">Naddi</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>super loooooooooooooooooooooooooooooooooooooong secret. it will take foreeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeevvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvveeeeeeeeeeeeeeeeeeeeeeeeeeeeerrrrrrrrrrrr to decipher</td>
                        <td>
                            <label for="private"><input type="radio" id="private" name="access" value="Private"> Private</label>
                            <input type="radio" id="partial" name="access" value="Partial">
                            <label for="partial">Partial</label>
                            <input type="radio" id="public" name="access" value="Public">
                            <label for="public">Public</label>
                        </td>
                        <td>
                            <select style="width: 100%" name="secret_bearers" id="secret_bearers" multiple>
                                <option value="Anel">Anel</option>
                                <option value="Mika">Mika</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Aaron">Aaron</option>
                                <option value="Luan">Luan</option>
                                <option value="Naddi">Naddi</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>secret stuff. do not try to decipher</td>
                        <td>
                            <label for="private"><input type="radio" id="private" name="access" value="Private"> Private</label>
                            <input type="radio" id="partial" name="access" value="Partial">
                            <label for="partial">Partial</label>
                            <input type="radio" id="public" name="access" value="Public">
                            <label for="public">Public</label>
                        </td>
                        <td>
                            <select style="width: 100%" name="secret_bearers" id="secret_bearers" multiple>
                                <option value="Anel">Anel</option>
                                <option value="Mika">Mika</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Aaron">Aaron</option>
                                <option value="Luan">Luan</option>
                                <option value="Naddi">Naddi</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>secret stuff. do not try to decipher</td>
                        <td>
                            <label for="private"><input type="radio" id="private" name="access" value="Private"> Private</label>
                            <input type="radio" id="partial" name="access" value="Partial">
                            <label for="partial">Partial</label>
                            <input type="radio" id="public" name="access" value="Public">
                            <label for="public">Public</label>
                        </td>
                        <td>
                            <select style="width: 100%" name="secret_bearers" id="secret_bearers" multiple>
                                <option value="Anel">Anel</option>
                                <option value="Mika">Mika</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Aaron">Aaron</option>
                                <option value="Luan">Luan</option>
                                <option value="Naddi">Naddi</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>