<!DOCTYPE html>
<html>

    <head>
        <title>Secret Vault</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/css/publicSecrets.css" />
        <link rel="stylesheet" href="../static/css/mySecrets.css" />
        <script src="../static/js/index.js"></script>
    <header>

    </header>

    <body>
        <main>
            <header>
                <h1> My Secrets </h1>
            </header>
            <hr>

            <form action="/mySecrets">
                <label for="secret">Secret:</label><br>
                <textarea id="secret" name="secret" placeholder="We will keep your secrets safe" rows="4"></textarea><br>
                <label for="lname">Last name:</label><br>
                <section id="privacy">
                    <label for="private"><input type="radio" id="private" name="access" value="Private"> Private</label>
                    <label for="public"><input type="radio" id="public" name="access" value="Public"> Public</label>
                </section>
                <input type="submit" value="Add">
                <input type="button" value="Cancel" onclick="openPage('/mySecrets')">
            </form>

        </main>
    </body>
</html>