<!DOCTYPE html>
<html>
    <head>
        <title>Secret Vault</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/css/publicSecrets.css" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- <script src="../static/js/nav.js"></script> -->
    </head>
    <header>
      <button id="back-btn" onclick="manageSecrets()">Manage Secrets</button>
      <h2 id="title">Public (or Private) Secrets</h2>
    </header>
    <body>
        <div class="wrapper">
            <div class="tabs">
              <div class="tab">
                <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                <label for="tab-1" class="tab-label">Public Secrets</label>
                <div id="tab-content-public">
                  <div id="searchPostIDPublicDiv">
                  <input type="text" id="searchPostIDPublic" class="searchPostID" onkeyUp="searchPostsPublic()" placeholder="search for title...">
                  <button class="searchButton">Search</button>
                </div>
                </div>
              </div>
              <div class="tab">
                <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                <label for="tab-2" class="tab-label">Private Secrets</label>
                <div id="tab-content-private">
                  <div id="searchPostIDPrivateDiv">
                    <input type="text" id="searchPostIDPrivate" class="searchPostID" onkeyUp="searchPostsPrivate()" placeholder="search for title...">
                    <button class="searchButton">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script src="../static/js/cookiebundle.js"></script>
          <script src="../static/js/usernameBundle.js"></script>
          <script src="../static/js/publicSecrets.js"></script>
    </body>
    </html>
    